<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property itemName="connection.url"/>
    <property itemName="connection.driver_class"/>
    <!-- <property itemName="connection.username"/> -->
    <!-- <property itemName="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property itemName="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>